/* .active{
    background-color: #1d4ed8;
  }
.App-header{
    background-image: url("../../assets/images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    height: 30vh;
    width: auto; */
    /* background-position-y: 100px;
    height: auto;
    top: 0;
   */
/*   
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: white;
    position: sticky;
    top: 0;
    width: auto;
  }
  
  nav title {
     font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  nav ul {
    display: flex;
  }
  
 nav ul li {
   list-style: none; 
  }
   */